$primary-dark: #26c;
$primary: #2b80ff;
$secondary: #f4f9ff;
$dark: #1c1c1c;
$light: #fff;
$white: #fff;
$black: #1c1c1c;
$success: #34a853;
$danger: #ea4335;
$warning: #fbbc05;

$logo-orange: #ed6a5a;
$logo-green: #036f69;

$primary-light: #f4f9ff;
$warning-light: #fffaee;
$danger-light: #fcf4f5;
$success-light: #f1f9f3;

$grey: #4f4f4f;
$grey-light: #eee;
$grey-dark: #999;
$disabled: #d1d3d4;
$background: #fff;
$avatar-background: #e6f7fa;

$transparent: rgba(0, 0, 0, 0);
$transparent-07: rgba(0, 0, 0, 0.07);
$transparent-5: rgba(0, 0, 0, 0.5);
