$gap-blocks: 16;
$base: 0.25;

@mixin generate-gap() {
  @for $i from 0 through $gap-blocks {
    $gap-value: $base * $i;

    .gap#{$i} {
      gap: $gap-value + rem;
    }
    .row-gap#{$i} {
      gap: $gap-value + rem;
    }
    .column-gap#{$i} {
      gap: $gap-value + rem;
    }
  }
}

@include generate-gap();
