.accordion_ctn {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 24px 0px;

  &:before {
    display: none;
  }
  .accordion_summary_ctn {
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .acc_details_ctn {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    // &-list_ctn {
    //   width: 100%;
    // }
  }
}
.MuiPaper-root {
  > ul {
    height: 200px;
  }
}
